@model BlogListResponseModel;
@{
    ViewData["Title"] = "Blog List Page";
    var success = TempData["success"];
    var fail = TempData["fail"];
    int pageNo = Model.PageSetting.PageNo;
    int pageSize = Model.PageSetting.PageSize;
    int pageCount = Model.PageSetting.PageCount;
    string GetLink(int pageNo, int pageSize)
    {
        return $"{Model.PageSetting.PageUrl}?pageNo={pageNo}&pageSize={pageSize}";
    }
}

@if (success is not null)
{
    <div class="alert alert-success" role="alert">
        @success
    </div>
}

@if (fail is not null)
{
    <div class="alert alert-danger" role="alert">
        @fail
    </div>
}

<a class="btn btn-outline-dark"href="/BlogEFCore/CreateBlogPage">Create New Blog</a>

<table class="table">
    <thead>
        <tr>
            <th>Blog Id</th>
            <th>Blog Title</th>
            <th>Blog Author</th>
            <th>Blog Content</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Blogs)
        {
            <tr>
                <td>@item.BlogId</td>
                <td>@item.BlogTitle</td>
                <td>@item.BlogAuthor</td>
                <td>@item.BlogContent</td>
                <td>
                    <a class="btn btn-outline-success" href="/BlogEFCore/EditBlogPage?id=@item.BlogId">Edit</a>
                    <a class="btn btn-outline-danger" href="/BlogEFCore/DeleteAsync?id=@item.BlogId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<nav aria-label="">
    <ul class="pagination">
        @*trigerring previous button*@
        @if(pageNo == 1)
        {
            <li class="page-item disabled">
                <a class="page-link">Previous</a>
            </li>
        }
        else
        {
            <li class="page-item"aria-current>
                <a class="page-link"href="@GetLink(pageNo - 1,10)">Previous</a>
            </li>
        }

        @*showing pagination*@
        @if (pageCount <= 9)
        {
            @for(int i = 1; i <= pageCount; i++)
            {
                @if(pageNo == @i)
                {
                    <li class="page-item"aria-current ="page">
                        <a class="page-link"href="@GetLink(i,10)">@i</a>
                    </li>
                }
                else
                {
                    <li class="page-item"aria-current ="page">
                        <a class="page-link"href="@GetLink(i,10)">@i</a>
                    </li>
                }
            }

        }
        else
        {
            @if(pageNo <= 3 || pageNo >= pageCount - 2)
            {
                @for(int i = 1 ; i <= 4; i++)
                {
                    @if(pageNo == @i)
                    {
                        <li class="page-item"aria-current="page">
                            <a class="page-link"href="@GetLink(i,10)">@i</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item"aria-current="page">
                            <a class="page-link"href="@GetLink(i,10)">@i</a>
                        </li>
                    }
           
                }
                <li class="page-item" aria-current="page">
                    <a class="page-link" href="">...</a>
                </li>

                @for (int i = pageCount - 3; i <= pageCount; i++)
                {
                    @if(pageNo == @i)
                    {
                        <li class="page-item" aria-current="page">
                            <a class="page-link" href="@GetLink(i,10)">@i</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item"aria-current="page">
                            <a class="page-link"href="@GetLink(i,10)">@i</a>
                        </li>
                    }
                }

            }
            else
            {
               <li class="page-item"aria-current="page">
                   <a class="page-link"href="@GetLink(1,10)">1</a>
               </li>     

                <li class="page-item"aria-current="page">
                    <a class="page-link"href="">...</a>
                </li>

                @for (int i = pageNo - 2; i <= pageNo + 2; i++)
                {
                    @if(pageNo == @i)
                    {
                        <li class="page-item"aria-current="page">
                            <a class="page-link"href="@GetLink(i, 10)">@i</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item"aria-current="page">
                            <a class="page-link"href="@GetLink(i,10)">@i</a>
                        </li>
                    }
                }

                <li class="page-item"aria-current="page">
                    <a class="page-link"href="">...</a>
                </li>

                <li class="page-item"aria-current="page">
                    <a class="page-link"href="@GetLink(pageCount,10)">@pageCount</a>
                </li>
            }
        }
        @if (pageNo == pageCount)
        {
            <li class="page-item disabled">
                <a class="page-link">Next</a>
            </li>
        }
        else
        {
            <li class="page-item"aria-current="page">
                <a class="page-link"href="@GetLink(pageNo + 1,10)">Next</a>
            </li>
        }
    </ul>
    <p>Showing @pageSize rows per page</p>
    <p>@pageNo of @pageCount entites</p>
</nav>